/* USER PROFILE BAR */
div#user-info-container {
    padding-top: 20px;
    margin-bottom: 50px;
}

p#display-name {
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
    bottom: 13px;
    color: white;
    margin-right: 20px;
    padding-left: 5px;
}

#profile-picture-container {
    max-height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

#profile-picture {
    max-width: 100%;

}

div#userprofile {
    float: right;
}

#logo-text {
    display: inline-block;
}

/*PLAYLIST CARDS */
.playlist-card {
    width: 100%;
}

.active-list {
    background-color: rgba(255, 79, 144, 0.685);
    color: white;
}

.slider {
    float: right;
    position: relative;
    top: 15px;
}

.playlist-label {
    margin-left: 20px;
}




/*playback bar */
div#playback-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    height: 80px;

    padding-top: 15px;
}

.playback-button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20%;
    border-color: rgb(255, 79, 144);
    background-color: transparent;
    color: rgb(255, 79, 144);
}

select#device-dropdown {
    background-color: #333;
    border-color: rgb(255, 79, 144);
    color: rgb(255, 79, 144);
}

/*hackish stuff to prevent footer from overlapping content */
body {
    margin-bottom: 80px;
}